---
/* src/components/sections/ServicesSection.astro */
import { fakeServices } from "../../utils/fakeData";

const defaultImageUrl =
  "https://muestra.machmedianj.com/wp-content/themes/del-porto-ristorante/assets/images/delportoristorante.webp";
---

<section id="services-section-desktop">
  {
    fakeServices.length > 0 &&
      fakeServices.map((service) => (
        <div
          class="dpr-service-slide"
          style={`background-image: url('${service.image_background_service || defaultImageUrl}');`}
        >
          <div class="dpr-flex-content">
            <div class="dpr-flex-title">
              <h5 class="title-service-home">{service.title_service}</h5>
            </div>
            <div class="dpr-flex-about">
              <a
                href={service.explore_link}
                class="btn btn-outline-light btn-lg text-uppercase"
              >
                Explore
              </a>
            </div>
          </div>
        </div>
      ))
  }
</section>

<section id="services-section-mobile">
  {
    fakeServices.length > 0 &&
      fakeServices.map((service) => (
        <div
          class="dpr-accordion-item"
          style={`background-image: url('${service.image_background_service || defaultImageUrl}');`}
        >
          <div class="dpr-accordion-overlay" />
          <div class="dpr-accordion-header">
            <h5>{service.title_service}</h5>
          </div>
          <div class="dpr-accordion-content">
            <a
              href={service.explore_link}
              class="btn btn-outline-light text-uppercase"
            >
              Explore
            </a>
          </div>
        </div>
      ))
  }
</section>

<style lang="scss">
  #services-section-desktop {
    height: 50dvh;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: var(--bg-dark);

    .dpr-service-slide {
      flex: 1;
      cursor: pointer;
      transition: all 500ms ease-in-out;
      background-size: cover;
      background-position: center;
      background-attachment: scroll;
      position: relative;
      border-radius: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.5s ease-in-out;
      }

      &:hover {
        flex-grow: 1.25;
        &::before {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      .dpr-flex-content {
        position: relative;
        z-index: 2;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .dpr-flex-title {
          color: var(--txt-light);
          text-transform: uppercase;
          pointer-events: none;

          .title-service-home {
            font-size: 3.5rem !important;
            font-weight: 600 !important;
            line-height: 1;
          }
        }

        .dpr-flex-about {
          color: var(--txt-light);
          opacity: 0;
          transition: opacity 0.5s ease-in-out;

          .btn {
            font-weight: 600;
            border-width: 2px;
            padding: 0.8rem 2.5rem;
            transition: all 0.3s ease;
            border-radius: 0px;
            &:hover {
              background-color: var(--txt-light);
              color: var(--txt-dark);
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  #services-section-mobile {
    display: none;
    background-color: var(--bg-dark);

    .dpr-accordion-item {
      position: relative;
      width: 100%;
      height: 30vh;
      background-size: cover;
      background-position: center;
      background-attachment: scroll;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--border-dark);

      &:first-child {
        border-top: 1px solid var(--border-dark);
      }

      &:hover {
        height: 50vh;
        .dpr-accordion-overlay {
          background-color: rgba(0, 0, 0, 0.75);
        }
        .dpr-accordion-header {
          transform: translateY(-50px);
        }
        .dpr-accordion-content {
          max-height: 200px;
          opacity: 1;
        }
      }

      .dpr-accordion-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 0.5s ease;
      }

      .dpr-accordion-header {
        position: relative;
        z-index: 2;
        cursor: pointer;
        padding: 1rem;
        color: var(--txt-light);
        font-size: 8vw;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        transition: transform 0.4s ease;
      }

      .dpr-accordion-content {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 85%;
        max-height: 0;
        opacity: 0;
        transition:
          max-height 0.5s ease-in-out,
          opacity 0.4s ease-in-out;
        transition-delay: 0.1s;

        .btn {
          font-weight: 600;
          border-width: 2px;
          padding: 0.8rem 2.5rem;
          transition: all 0.3s ease;
          border-radius: 0px;
          &:hover {
            background-color: var(--txt-light);
            color: var(--txt-dark);
            transform: scale(1.05);
          }
        }
      }
    }
  }

  @media (min-width: 769px) {
    #services-section-desktop {
      .dpr-service-slide {
        .dpr-flex-content {
          .dpr-flex-title {
            .title-service-home {
              font-size: 2rem !important;
              font-weight: 600 !important;
              line-height: 1;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    #services-section-desktop {
      display: none;
    }
    #services-section-mobile {
      display: block;
    }
  }
</style>

<script>
  if (window.matchMedia("(min-width: 769px)").matches) {
    const serviceSlides = document.querySelectorAll(".dpr-service-slide");
    serviceSlides.forEach((slide) => {
      slide.addEventListener("mouseenter", function () {
        this.querySelector(".dpr-flex-about").style.opacity = "1";
      });

      slide.addEventListener("mouseleave", function () {
        this.querySelector(".dpr-flex-about").style.opacity = "0";
      });
    });
  }
</script>
